@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply dark:bg-gray-900 dark:text-white opacity-0 min-h-screen flex flex-col animate-fade-in;
  animation-fill-mode: forwards;
}

label {
  @apply block text-sm font-medium text-gray-700;
}

input,
input[type="text"], 
input[type="email"], 
input[type="phone"], 
input[type="textarea"], 
textarea {
  @apply dark:text-gray-700 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border-gray-300 rounded-sm;
}

input[type="checkbox"] {
  @apply focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded;
}

input[type="radio"] {
  @apply focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300;
}

select {
  @apply mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
}

.button {
  @apply py-2 px-4 rounded transition-colors;
}

.button--primary {
  @apply bg-blue-500 hover:bg-blue-600 text-white;
}

.button--secondary {
  @apply bg-gray-500 hover:bg-gray-600 text-white;
}

.button--link {
  @apply px-1 text-blue-500 hover:text-blue-700 underline;
}

.button--link-danger {
  @apply px-1 text-red-500 hover:text-red-700 underline;
}

.button--icon {
  @apply p-0 text-blue-500 hover:text-blue-700 text-2xl;
}

.button--danger {
  @apply text-red-500 hover:text-red-700;
}

/* This file is for your main application css. */
/* @import "./phoenix.css"; */

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  @apply opacity-100 fixed z-10 top-0 left-0 w-full h-full flex items-center overflow-auto bg-gray-900 bg-opacity-25;
}

.phx-modal-content {
  @apply bg-white py-4 px-6 border border border-gray-300 shadow rounded mx-auto w-full max-w-xl flex flex flex-col;
}

.phx-modal-close {
  @apply self-end text-gray-600 hover:text-gray-700 text-lg font-semibold cursor-pointer no-underline;
}


/* Alerts and form errors */
.alert {
  @apply absolute top-5 left-1/2 w-full max-w-md py-3 px-2 rounded-lg flex items-center shadow cursor-pointer z-50;
  transform: translateX(-50%);
}

.alert > .iconify {
  @apply mr-2 text-lg h-6 w-6;
}

.alert-info {
  @apply bg-blue-100 text-blue-500 border border-blue-500;
}

.alert-warning {
  @apply bg-yellow-100 text-yellow-500 border border-yellow-500;
}

.alert-danger {
  @apply bg-red-100 text-red-500 border border-red-500;
}

.alert > p {
  @apply mb-0;
}

.invalid-feedback {
  @apply text-sm text-red-500 block mt-1;
}
