@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply dark:bg-gray-900 dark:text-white opacity-0 min-h-screen flex flex-col animate-fade-in;
  animation-fill-mode: forwards;
}

.button {
  @apply py-2 px-4 rounded transition-colors;
}

.button--primary {
  @apply bg-blue-500 hover:bg-blue-600 text-white;
}

/* This file is for your main application css. */
/* @import "./phoenix.css"; */

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  @apply absolute top-5 left-1/2 w-full max-w-md py-3 px-2 rounded-lg flex items-center shadow cursor-pointer z-50;
  transform: translateX(-50%);
}

.alert > .iconify {
  @apply mr-2 text-lg h-6 w-6;
}

.alert-info {
  @apply bg-blue-100 text-blue-500 border border-blue-500;
}

.alert-warning {
  @apply bg-yellow-100 text-yellow-500 border border-yellow-500;
}

.alert-danger {
  @apply bg-red-100 text-red-500 border border-red-500;
}

.alert > p {
  @apply mb-0;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
