<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "ExpenseJar", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="container mx-auto py-4 min-h-screen flex flex-col">
    <header>
      <section>
        <nav role="navigation" class="flex justify-end">
          <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
            <%= link to: Routes.live_dashboard_path(@conn, :home), class: "py-1 px-2 border border-blue-500 text-blue-400 hover:text-white text-sm font-semibold rounded-full shadow-md hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 transition-colors" do %>
              <span class="iconify" data-icon="heroicons-outline:chart-square-bar" data-inline="false"></span>
            <% end %>
          <% end %>
        </nav>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
