<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%# <meta name="turbo-cache-control" content="no-cache"> %>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "ExpenseJar", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <%= if @current_user do %>
      <header class="mb-2 px-4 py-4 container">
        <section>
          <nav role="navigation" class="flex justify-end items-center">
            <div class="flex items-center" x-data="{ isLoading: false }">
              <img class="rounded-full h-10 w-10 flex items-center justify-center" src="<%= @current_user.avatar_url %>" />
              <%= link(
                to: Routes.user_auth_path(@conn, :logout_user),
                method: "delete",
                alt: "Logout",
                "@click": "isLoading = true",
                ":class": "{ 'opacity-50 cursor-not-allowed': isLoading }",
                class: "flex items-center ml-3 py-1 px-2 border border-white hover:bg-gray-800 transition-colors text-white rounded"
              ) do %>
                <span x-show="!isLoading" class="iconify mr-1" data-icon="heroicons-outline:logout" data-inline="false"></span>
                <span x-show="isLoading" x-cloak class="mr-1 animate-fade-in">
                  <%= render ExpenseJarWeb.SharedView, "loading.html" %>
                </span>
                <span>Logout</span>
              <% end %>
            </div>
          </nav>
        </section>
      </header>
    <% end %>
    <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
      <%= link to: Routes.live_dashboard_path(@conn, :home), class: "py-1 px-2 fixed bottom-5 right-2 border border-blue-500 text-white text-sm font-semibold rounded-full shadow-md hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75 transition-colors" do %>
        <span class="iconify" data-icon="heroicons-outline:chart-square-bar" data-inline="false"></span>
      <% end %>
    <% end %>
    <%= @inner_content %>
  </body>
</html>
